:root {
    background: rgb(230, 0, 255);
    transition: .4s;

}


* {
    
    margin: auto;
    padding: 1.4;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    text-align: center;
    background-color: aliceblue;
}
.card{
    position: relative;
    max-width: 5 auto;
    margin: 0 auto;
}